body {
  padding: 5vh 5vw;
}

.appContainer {
  max-width: 40rem;
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 48px #cecece;
}

.mainTitle {
  font-size: 1.8rem;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.scrollableList {
  max-height: 20rem;
  overflow-y: scroll;
}
