body {
  padding: 5vh 5vw;
}

.appContainer {
  max-width: 46rem;
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 48px #cecece;
}

.mainTitle {
  font-size: 1.8rem;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.overflowX {
  overflow-x: auto;
}

.scrollableList {
  max-height: 20rem;
  overflow-y: scroll;
}

.deploymentInfoRow {
  overflow-x: auto;
}

.highlightedInfo {
  padding: 0.3rem 0.6rem;
  background-color: #f4f4f4;
  border-radius: 0.3rem;
}

.highlightedInfo.info {
  background-color: #ddf9ff;
}

.wrong,
.wrong:focus {
  border: 1px solid red;
}
